@font-face {
  font-family: "JetBrains Mono";
  src: url("JetBrainsMono-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("JetBrainsMono-Bold.ttf");
  font-weight: bold;
}
